Section "Device"
	Identifier  "Card0"
	Driver      "intel"
	Option      "Backlight"  "intel_backlight"
	Option      "DRI" "3"
	#Option      "AccelMethod"  "sna" # default
	#Option      "AccelMethod"  "uxa" # fallback
EndSection
